<div class="footer">
    <div class="footer-top">
        <div class="container">
            <a href="#" class="theme">
                <i></i>
                “ E-commerce psd theme available ”</a>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-at">
                <div class="col-md-6 footer-grid">
                    <h3>Trekking</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-md-6 footer-grid-in">
                    <ul class="footer-nav">
                        <li>
                            <a href="404.html">credits
                            </a>|</li>
                        <li>
                            <a href="privacy.html">
                                Privacy</a>|</li>
                        <li>
                            <a href="about.html">
                                about</a>|</li>
                        <li>
                            <a href="contact.html">
                                contact</a>
                        </li>
                    </ul>
                    <p class="footer-class">Copyright © 2015 Trekking Template by
                        <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <a href="#" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"></span>
    </a>

</div>
